<div class="padding">
    <h1>Update User Password</h1>
    <%= form_with model:@user, url: update_password_path, local: true do |f| %>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <br>
    <div>
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
    </div>
    <div>
        <%= f.label :new_password %>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :password_confirmation %> 
    </div>
    <br>
    <%= f.submit "Update Password", class: 'btn btn-outline-primary' %>
    <% end %>
</div>