 <nav class="navbar navbar-light bg-light padding">
  <div>
    <a class="navbar-brand" href="/">Blog on Rails</a>
  </div>
  <div>
    <div class="nav-btn"> 
      <div class="float-child">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </div>
      <div class="float-child">
        <%= link_to 'New Post', new_post_path, class:"nav-link" %>
      </div>
      <% if user_signed_in?%>
        <div class="float-child">
          Hello <%= current_user.full_name %>! | 
          <%= link_to 'Logout', session_path, method: :delete, data:{confirm: 'Are you sure you want to log out?'} %>
        </div>  
        <% else %>
        <div class="float-child">
          <%= link_to 'Login', new_session_path  %>
        </div>
        <div class="float-child">   
          <%= link_to 'Sign Up', new_user_path  %> 
        </div>  
      <% end %>  
    </div>
  </div>
</nav>
